{% extends "web/layout.html" %}
{% load static %}

{% block body %}

    <h1>Welcome to the Video Games 100</h1>
    <p>This is a website that provides information about the top 100 video games of all time.</p>
    <p>Use the navigation bar to explore the different sections of the website.</p>


    <a href="{% url 'admin:index' %}" target="_blank">Admin Interface</a>

    {% for game in games %}
        <div>
            <h2>{{ game.title }}</h2>
            <img src="{% static game.poster %}" alt="{{ game.title }} poster">
            <p>{{ game.description }}</p>
            <p>Screen Time: {{ game.screen_time }} hours</p>
            {% if game.screenshot %}
                <img src="{{ game.screenshot.url }}" alt="{{ game.title }} screenshot">
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
